extends layouts/main

block content
        .video__player(style="max-width:400px;")
                video(src=`/${video.fileUrl}`,controls=true,style="max-width:100%;")
        .video__info
                a(href=routes.editVideo(video.id)) Edit Video
                h5.video__title=video.title
                span.video__views=video.views
                p.video__description=video.description
                input(type="submit", value="Update Video")
        
